---
import type { GithubRepo } from '@/types';
import { githubClient } from '@/utils';

import RepoCard from '@/components/repo-card.astro';

const PROJECTS = [
  {
    username: 'gklp',
    repo: 'spring-craftgate',
  },
  {
    username: 'salihbilgin',
    repo: 'craftgatePythonClient',
  },
  {
    username: 'ygunayer',
    repo: 'craftgate-elixir-client',
  },
  {
    username: 'ygunayer',
    repo: 'craftgate-java2elixir',
  },
  {
    username: 'Memo-Lee',
    repo: 'Subscription-payment',
  },
  {
    username: 'enesozturk',
    repo: 'sticker-store',
  },
];

const data: Array<GithubRepo> = await Promise.all(
  PROJECTS.map(async ({ username, repo }) => {
    const response = await githubClient.get(
      `https://api.github.com/repos/${username}/${repo}`,
    );

    if (response.error) return;

    return response;
  }),
).then((repos) => repos.filter((repo) => Boolean(repo)));
---

<section class="container mb-24 flex flex-col gap-6">
  <h2 class="text-center text-4xl">Community Projects</h2>
  <p class="mb-8 text-center text-2xl font-light">
    Our commitment to open-source projects invites collaboration and collective
    ingenuity, driving technology forward for everyone. Never hesitate to jump
    into them and explore new ways of improvement and innovation.
  </p>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
    {data.map((repo) => <RepoCard {...repo} />)}
  </div>
</section>
