---
import { Image } from 'astro:assets';
---

<section
  class="container grid grid-cols-1 lg:grid-cols-2 gap-4 items-center py-8 mb-16"
>
  <div class="flex flex-col gap-8">
    <h1 class="text-5xl sm:whitespace-nowrap">Craftgate | Open Source</h1>
    <p class="text-2xl font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. assa amet,
      tristique purus aliquam in viverra leo. Sit volutpat at sed aenean
      fermentum. Metus, eleifend quisque pharetra, Sit volutpat at sed aenean
      fermentum. Metus, eleifend quisque
    </p>
  </div>
  <Image
    src="/images/blogging.svg"
    width={533}
    height={399}
    alt="Blogging"
    class="m-auto"
  />
</section>
