---
import { Image } from 'astro:assets';
---

<section
  class="container mb-16 grid grid-cols-1 items-center gap-4 py-8 lg:grid-cols-2"
>
  <div class="flex flex-col gap-8">
    <h1 class="text-5xl sm:whitespace-nowrap">Open Source | Craftgate</h1>
    <p class="text-2xl font-light">
        Craftgate is a modern payment orchestration platform that brings together all the payment
        methods a business needs under a single roof. Instead of integrating each bank
        Virtual POS, e-money institution, or alternative payment provider one by one,
        Craftgate offers a central integration point. In addition to this unified structure,
        Craftgate provides 20+ modular products that help businesses enhance their payment operations,
        optimize conversion rates, and streamline financial workflows end-to-end.
    </p>
  </div>
  <Image
    src="/images/blogging.svg"
    width={533}
    height={399}
    alt="Blogging"
    class="m-auto"
    loading="eager"
  />
</section>
