---
import type { GithubRepo } from '@/types';
import { githubClient } from '@/utils';

import RepoCard from '@/components/repo-card.astro';

const HIDDEN_REPOS = import.meta.env.HIDDEN_REPOS.split(' ');

const data = await githubClient
  .get('https://api.github.com/orgs/craftgate/repos')
  .then((res: Array<GithubRepo>) =>
    res.filter((repo) => !HIDDEN_REPOS.includes(repo.name)),
  );
---

<section class="container mb-24 flex flex-col gap-6">
  <h2 class="text-center text-4xl">Open Source Projects</h2>
  <p class="mb-8 text-center text-2xl font-light">
      Our software crafters have developed a wide range of libraries and tools
      that make it easy for merchants to integrate the Craftgate API into their platforms.
      You can explore all of our open-source work in our GitHub organization,
      where we regularly publish and maintain our public repositories.
  </p>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
    {data.map((repo) => <RepoCard {...repo} />)}
  </div>
</section>
