---
import RepoCard from '@/components/repo-card.astro';
import type { GithubRepo } from '@/types';

const API_TOKEN = import.meta.env.API_TOKEN;

const response = await fetch('https://api.github.com/orgs/craftgate/repos', {
  headers: {
    Accept: 'application/vnd.github+json',
    Authorization: `Bearer ${API_TOKEN}`,
    'X-GitHub-Api-Version': '2022-11-28',
  },
});
const data: Array<GithubRepo> = await response.json();
---

<section class="container flex flex-col gap-12 mb-24">
  <h2 class="text-4xl text-center">Open Source Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    {data.map((repo) => <RepoCard {...repo} />)}
  </div>
</section>
