---
import type { GithubRepo } from '@/types';
import { githubClient } from '@/utils';

import RepoCard from '@/components/repo-card.astro';

const HIDDEN_REPOS = import.meta.env.HIDDEN_REPOS.split(' ');

const data = await githubClient
  .get('https://api.github.com/orgs/craftgate/repos')
  .then((res: Array<GithubRepo>) =>
    res.filter((repo) => !HIDDEN_REPOS.split(' ').includes(repo.name)),
  );
---

<section class="container flex flex-col gap-6 mb-24">
  <h2 class="text-4xl text-center">Open Source Projects</h2>
  <p class="text-2xl text-center font-light mb-8">
    Our software crafters designed and implemented so many libraries that our
    merchants can easily integrate Craftgate API into their platforms. Please
    checkout our public repositories hosted in our Github organization.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    {data.map((repo) => <RepoCard {...repo} />)}
  </div>
</section>
