---
import type { GithubUser } from '@/types';
import { githubClient } from '@/utils';

import TeamMemberCard from '@/components/team-member-card.astro';

const HIDDEN_MEMBERS = import.meta.env.HIDDEN_MEMBERS.split(' ');

const data = await githubClient
  .get('https://api.github.com/orgs/craftgate/members')
  .then((res: Array<Omit<GithubUser, 'name'>>) =>
    res.filter((member) => !HIDDEN_MEMBERS.includes(member.login)),
  )
  .then((members) => {
    return Promise.all(
      members.map(async (member) => {
        return githubClient.get(`https://api.github.com/users/${member.login}`);
      }),
    );
  });
---

<section class="container mb-24 flex flex-col gap-6">
  <h2 class="text-center text-4xl">Our Engineering Team</h2>
  <p class="mb-8 text-center text-2xl font-light">
    Craftgate is a tech company that focuses on the fintech industry. We are
    working with high-qualified software engineers who have deep knowledge.
  </p>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {data.map((user) => <TeamMemberCard {...user} />)}
  </div>
</section>
