---
import type { GithubUser } from '@/types';
import { githubClient } from '@/utils';

import TeamMemberCard from '@/components/team-member-card.astro';

const HIDDEN_MEMBERS = import.meta.env.HIDDEN_MEMBERS;

const data = await githubClient
  .get('https://api.github.com/orgs/craftgate/members')
  .then((res: Array<Omit<GithubUser, 'name'>>) =>
    res.filter((member) => !HIDDEN_MEMBERS.split(' ').includes(member.login)),
  )
  .then((members) => {
    return Promise.all(
      members.map(async (member) => {
        return githubClient.get(`https://api.github.com/users/${member.login}`);
      }),
    );
  });
---

<section class="container flex flex-col gap-6 mb-24">
  <h2 class="text-4xl text-center">Our Engineering Team</h2>
  <p class="text-2xl text-center font-light mb-8">
    Craftgate is a tech company that focuses on the fintech industry. We are
    working with high-qualified software engineers who have deep knowledge.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {data.map((user) => <TeamMemberCard {...user} />)}
  </div>
</section>
