---
import TeamMemberCard from '@/components/team-member-card.astro';
import type { GithubUser } from '@/types';

const GITHUB_TOKEN = import.meta.env.GITHUB_TOKEN;
const USERNAMES = [
  'abalikci',
  'AlicanAkkus',
  'deryacakmak',
  'hakanerdogan',
  'kadirtaskiran',
  'lemiorhan',
  'MasterSlave',
  'melihmutcali',
  'mhasanince',
  'onurpolattimur',
  'reywyn',
  'semihshn',
  'sotuzun',
  'tuncaserhat',
];

const response = await Promise.all(
  USERNAMES.map((username) =>
    fetch(`https://api.github.com/users/${username}`, {
      headers: {
        Accept: 'application/vnd.github+json',
        Authorization: `Bearer ${GITHUB_TOKEN}`,
        'X-GitHub-Api-Version': '2022-11-28',
      },
    }),
  ),
);
const data: Array<GithubUser> = await Promise.all(
  response.map((res) => res.json()),
);
---

<section class="container flex flex-col gap-6 mb-24">
  <h2 class="text-4xl text-center">Team</h2>
  <p class="text-2xl text-center font-light mb-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita
    repellat eaque, qui odio earum officiis harum quam animi accusamus
    voluptatum obcaecati laboriosam alias, veritatis ipsum, autem culpa iure.
    Sint repellat autem nisi facere illo perspiciatis cumque impedit doloremque
    voluptate.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {data.map((user) => <TeamMemberCard {...user} />)}
  </div>
</section>
