---
import { Image } from 'astro:assets';
---

<footer class="bg-black">
  <div class="container flex flex-wrap items-center justify-between gap-4 py-5">
    <a href="https://craftgate.io">
      <Image src="/images/logo.svg" width={135} height={32} alt="Craftgate" />
    </a>
    <nav>
      <ul class="flex gap-4 text-sm">
        <li>
          <a
            href="https://github.com/craftgate"
            class="flex items-center gap-1.5"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/images/github.svg"
              width={14}
              height={14}
              class="h-4 w-auto"
              alt="Craftgate Github"
            />
            Github
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/craftgateio"
            class="flex items-center gap-1.5"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/images/x.svg"
              width={14}
              height={12}
              class="h-4 w-auto"
              alt="Craftgate Twitter"
            />
            Twitter
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/craftgate"
            class="flex items-center gap-1.5"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/images/linkedin.svg"
              width={14}
              height={14}
              class="h-4 w-auto"
              alt="Craftgate Linkedin"
            />
            Linkedin
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/craftgateio"
            class="flex items-center gap-1.5"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/images/instagram.svg"
              width={13}
              height={14}
              class="h-4 w-auto"
              alt="Craftgate Instagram"
            />
            Instagram
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@craftgateio"
            class="flex items-center gap-1.5"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/images/youtube.svg"
              width={29}
              height={20}
              class="h-3.5 w-auto"
              alt="Craftgate Youtube"
            />
            Youtube
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
