---
import { Image } from 'astro:assets';
---

<header
  class="container flex flex-wrap gap-4 items-center justify-between py-5"
>
  <a href="https://craftgate.io">
    <Image src="/images/logo.svg" width={145} height={37} alt="Craftgate" />
  </a>
  <nav>
    <ul class="flex gap-8 font-medium">
      <li>
        <a href="https://craftgate.github.io">Open Source</a>
      </li>
      <li>
        <a href="https://github.com/craftgate">Github</a>
      </li>
      <li>
        <a href="https://github.com/craftgate/recruitment">Career</a>
      </li>
    </ul>
  </nav>
</header>
