---
import type { GithubRepo } from '@/types';
import { Image } from 'astro:assets';

interface Props extends GithubRepo {}

const { name, description, stargazers_count, html_url } = Astro.props;
---

<a
  href={html_url}
  class="group bg-card flex flex-col gap-4 rounded-md border border-white p-5"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="flex items-center gap-3">
    <Image
      src="/images/bookmark.svg"
      width={16}
      height={16}
      alt="Bookmark"
      loading="eager"
    />
    <h5 class="group-hover:underline">{name}</h5>
    <div
      class="text-tertiary bg-card border-tertiary rounded-full border px-2 py-1 text-xs"
    >
      Public
    </div>
  </div>
  <p class="text-tertiary text-sm">{description}</p>
  <div class="flex items-center gap-2">
    <Image
      src="/images/star.svg"
      width={16}
      height={16}
      alt="Star"
      loading="eager"
    />
    {stargazers_count}
  </div>
</a>
