---
import { Image } from 'astro:assets';
import type { GithubUser } from '@/types';

interface Props extends GithubUser {}

const { name, login, avatar_url, html_url } = Astro.props;
---

<a
  href={html_url}
  class="group bg-card flex items-center gap-4 rounded-md p-5"
  target="_blank"
  rel="noopener noreferrer"
>
  <Image
    src={avatar_url}
    width={80}
    height={80}
    alt={name ?? ''}
    class="rounded-full"
  />
  <div class="flex flex-col gap-1 text-xl">
    <h5 class="group-hover:underline">{name}</h5>
    <p class="text-tertiary">{login}</p>
  </div>
  <Image
    src="/images/github.svg"
    width={36}
    height={36}
    alt="Github"
    class="ml-auto self-end"
  />
</a>
