---
import Header from '@/components/header.astro';
import Footer from '@/components/footer.astro';

import '@/styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <div
      style="background: radial-gradient(74.81% 74.81% at 77.01% 30.21%, rgba(31, 195, 231, 0.84) 0%, #1F34E7 100%);"
      class="absolute -top-40 -right-40 -z-10 h-[776px] w-[776px] opacity-40 blur-[125px]"
    >
    </div>
    <div
      style="background: radial-gradient(74.81% 74.81% at 77.01% 30.21%, rgba(31, 195, 231, 0.84) 0%, #1F34E7 100%);"
      class="absolute -bottom-0 -left-80 -z-10 h-[760px] w-[760px] opacity-20 blur-[150px]"
    >
    </div>
  </body>
</html>
